:root {
    --primary-color: #064273;
    --secondary-color: #1da2d8;
    --tertiary-color: #def3f6;
}

body {
    background: var(--tertiary-color);
    font-family: 'Montserrat', sans-serif;
}

#menu {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    height: 50vw;
    width: 8.5vw;
}

#menu ul {
    margin-top: 6vw;
}

#menu ul > li {
    list-style: none;
    padding-top: 1.5rem;
}

#menu ul > li > a {
    text-decoration: none;
    color: #ffff;
    font-family: Verdana;
    font-size: 1.2rem;
}

#contact  {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 5px;
    padding-right: 10px;
    color: var(--primary-color);
}

#contact a {
    padding-left: 20px;
}

header {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: black solid 0.4px;
}

header h1 {
    margin-top: -30px;
    color: var(--primary-color);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

header h1 > span {
    color: var(--tertiary-color);
}

#image {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

#image img {
    height: 40vw;
}

#filler {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    margin-left: 20px;
    text-decoration: underline;
    font-size: 40px;
}


#filler p {
    overflow-wrap: break-word;
}

#prof, #acad, #pers {
    display: none;
    background: var(--tertiary-color);
    overflow-wrap: break-word;
    margin-left: 10vw;
    font-size: 30px;
    font-weight: bold;
}

#prof {
    flex-direction: column;
}

#prof h4, #acad ul {
    margin: 0;
    padding: 0;
}

#acad {
    flex-direction: column;
}

#pers {
    flex-direction: column;
}

